
:root {
    --main-bg: rgba(226,111,17, 0.7);
    --main-box: rgb(214, 176, 143, 0.9);
    --main-box-maxo: rgb(214, 176, 143, 1);
    --survey-bg: rgba(149, 163, 190, 0.7);
    --main-button: rgba(149, 163, 190, 0.3);
    --main-button-hover: rgba(149, 163, 190, 1);
    --survey-form: rgba(226, 111, 17, 0.5);
    --survey-form-hover: rgba(226, 111, 17, 1);
    --header-font: 'Cinzel', serif;
    --body-font: 'Merriweather Sans', sans-serif;
}

/* === Modal Styling === */
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--survey-bg);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}

/* .modal-center {
    text-align: center;
} */

#modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-box-maxo);
    padding: 1rem 1.5rem;
    max-width: 40rem;
    border-radius: 0.5rem;
}


.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


/* === Page Styling === */

html, body {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

/* button and form element style reset */

button, .form_element{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

#about_you {
    border-bottom: .25rem solid black;
    padding: 1rem;
    margin-bottom: 1rem;
}


#home-content-container, #survey-content-container{
    background-color: var(--main-box);
    padding: 5rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0, .7);
}

#data_links_home {
    position: relative;
    left: 18%;
    top: 2%;
}

#data_links_survey {
    position: relative;
    left: 18%;
    top: 2%;
}

.form_element {
    padding: .2rem;
    border-radius: 1rem;
    border-left: .2rem solid black;
    border-right: .2rem solid black;
    background-color: var(--survey-form);
}

h2 {
    font-family: var(--header-font);
}

#home-head, #survey-head {
    border-bottom: .25rem solid black;
    font-size: 5rem;
    font-family: var(--header-font);
    padding: 1rem;
    text-align: center;
    margin: .2rem 0rem;
}

#intro-blurb {
    font-family: var(--body-font);
}

.intro-para {
    text-align: right;
    font-size: 1.5rem;
}

.labels {
    font-family: (var(--body-font));
    font-size: 1.25rem;
}

#launch-survey, #quiz_submit {
    font-family: var(--header-font);
    font-weight: bold;
    color: black;
    border-radius: 1rem;
    border-left: .25rem solid black;
    border-right: .25rem solid black;
    transition: all 0.5s ease;
}

#launch-survey {
    padding: 1rem;
    background-color: var(--main-button);
}

#launch-survey:hover,
#launch-survey:focus {
    background-color: var(--main-button-hover);
    padding: 1rem 1.5rem;
}

#main-container, #survey-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-size: cover;
    background-repeat:  no-repeat;
}

#main-container {
    background: var(--main-bg);
}

#home-back, #survey-back{
    background-image: url(images/happy_people.jpg);
    height: 100%;
    background-size: cover;
}

#submit_area {
    display: flex;
    justify-content: flex-end;
}

#survey-back {
    background-image: url(images/happy_person.jpg);
}

#survey-container {
    background: var(--survey-bg);
}

#survey-content-container {
    padding: 1rem 5rem 3rem;
    width: 60%;
    height: 83%;
}

#survey-head {
    padding: 0%;
    margin: 0%;
}

#survey_link {
    display: flex;
    justify-content: center;
}

#survey_questions {
    padding: .7rem 1rem;
    height: 60%;
    overflow-y: scroll;
}

#quiz_submit {
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--survey-form);
}

#quiz_submit:hover {
    background-color: var(--survey-form-hover);
    padding: 1rem 2rem;
}
